{% extends 'base.html.twig' %}

{% block body %}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Supplier</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            {% for supplier in supplier %}
                <tr>
                    <th scope="row">{{ supplier.id }}</th>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.address }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>
                        <a href="{{ path('supplier_view', {'id': supplier.id}) }} " class='btn btn-success'>View</a>

                        <a href="{{ path('supplier_delete', {'id': supplier.id}) }}" class='btn btn-danger'>Delete</a>

                        <a href="{{ path('supplier_update', {'id': supplier.id}) }}" class='btn btn-default'>Update</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('supplier_create') }}" class="btn btn-primary">Create new</a>
{% endblock %}
